<% @title = "Profile" %>

<form action="/profile" method="get">
    <input type="text" name="username" value="<%= @username %>"/><input type="submit" value="View Profile">
    
</form>

<%if @error and @error != ""%>
  <p class='error'><%= h @error %></p>
<%end%>
    
<% if @user %>
    <% if @user == @logged_in_user then %>
        <h3>Your profile</h3>
    <% else %>
        <h3><%= @user.username %>'s profile </h3>
    <% end  %>
    
    <p id="bitbar_display">0 bitbars</p>
        
    <% if @user.profile and @user.profile != "" %>
        <div id="profile"><%= sanitize_profile(@user.profile) %></div>
    <% end %>
    
    <span id="bitbars" />
    <script type="text/javascript">
      var total = <%= @user.bitbars %>;
      function showBitbars(bitbars) {
        document.getElementById("bitbar_display").innerHTML = bitbars + " bitbars";
        if (bitbars < total) {
          setTimeout("showBitbars(" + (bitbars + 1) + ")", 20);
        }
      }
      if (total > 0) showBitbars(0);  // count up to total
    </script>
<% end %>

    
